{%extends "./base.html"%}

{% block title %}Página Inicial{% endblock %}

{% block content %}
    <div class="text-center">
        <h1>Lista de Clientes</h1>
    </br>
    </div>
    <form action="?" method"GET">
        <input type="text" name="nome" id="" value="{{ request.GET.nome }}" autocomplete="off">
        <button type="submit" class="btn btn-success"> BUSCAR </button>
        <a href="{% url 'lista_clientes'%}" class="btn btn-dark"> Limpar </a>
    </form>
    <hr>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Apelido</th>
            <th scope="col" class="text-end">Opções</th>
          </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}  
            <div class="d-grid gap-2">
                <tr>
                    <th scope="row">{{ cliente.id }}</th>
                    <td>{{ cliente.nome }}</td>
                    <td>{{ cliente.apelido }}</td>
                    <td class="text-end">
                        <a href="{% url 'detalhe_cliente' cliente.id %}" class="btn btn-info">Ver</a>
                        <a href="{% url 'editar_cliente' cliente.id %}" class="btn btn-secondary">Editar</a>
                    </td>
                </tr>
            </div>
            </a>
            {% endfor %}
        </tbody>
    </table> 
{% endblock %}